version: '3.13'

services:
  flask-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: youtube-sentiment-app
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=production
      - MLFLOW_TRACKING_URI=http://54.90.172.25:5000
    volumes:
      # Mount model files (optional - if you want to update models without rebuilding)
      - ./lgbm_model.pkl:/app/lgbm_model.pkl
      - ./tfidf_vectorizer.pkl:/app/tfidf_vectorizer.pkl
      - ./flask_app/lgbm_model.pkl:/app/flask_app/lgbm_model.pkl
      - ./flask_app/tfidf_vectorizer.pkl:/app/flask_app/tfidf_vectorizer.pkl
    restart: unless-stopped
    networks:
      - sentiment-network

networks:
  sentiment-network:
    driver: bridge
